.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 20px 0px;
    
    height: 80px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; 
    z-index: 10;
    transition: 0.3s ease;
}

.is_sticky {
    /* position: sticky; */
    background-color: rgba(27,36,48,.5);
    /* transition: 1s ease; */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #a1a1a1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navbar li a:hover, .navbar li a.active {
    color: white
}

.navbar li a:hover::after,
.navbar li a.active::after {
    content: "";
    width: 50%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    color: white;
    cursor: pointer;
    display: none;
}

.mobile_el {
    color: white;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.avatar {
    border-radius: 20px;
    padding: 5px;
}

.avatar:hover {
    background-color: #006466;
    color: black;
    border-radius: 20px;
}

.modal {
    background-color: red;
}

.connected__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.connected__settings {
    /* color: black; */
    /* background-color: white; */
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.connected__settings:hover {
    opacity: 0.8;
}

.connected__deconnexion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.link__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

@media screen and (max-width: 1200px) {
    .navbar li a {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 1000px) {
    .navbar li a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 960px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 80px;
        right: -60%;
        width: 60%;
        height: 100vh;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 10;
    }

   

    .navbar.active {
        right: 0px;
    }

    .navbar > li {
        margin-bottom: 25px;
    }

    .mobile {
        display: block;
    }

    .mobile_el {
        font-size: 24px;
        cursor: pointer;
    }

}